.navBar-container {
    background-color: #f8f9fa;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navBar-title {
    color: var(--white);
    font-size: 20px;
}

.navbar h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.navbar .menu {
    list-style: none;
}

.navbar .menu li {
    margin-bottom: 1rem;
}

.navbar .menu a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
}
